body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 2%;
    line-height: 1.5;
}

h2 {
    font-family: 'Merriweather', serif;
    margin-left: -15px;
}

code {
    display: block;
    text-align: left;
    position: relative;
    font-family: 'Nanum Gothic Coding', monospace;
    background-color: #eeeeee;
    padding: 10px;
    margin: 5px 15px;
    border-radius: 5px;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
}

li {
    margin-bottom: 10px;
}

nav {
    height: 100%;
    position: fixed;
    min-width: 200px;
    top: 0;
    left: 0;
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
    border-right: solid 1px #ddd;
    box-shadow: 2px 2px 5px #bbb;
}

#navbar header {
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 3px #bbb;
}

nav ul {
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul li {
    border-top: solid 1px #ddd;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 5px;
    margin-left: -50px;
    margin-bottom: 0;
    width: 100%;
    line-height: 1;
}

nav ul li:hover {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

nav a:checked {
    color: #000;
}

#main-doc {
    position: absolute;
    margin-left: 340px;
}

/* ===== MEDIA QUERY ===== */
@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }
    nav {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
        max-height: 250px;
        width: 100%;
        overflow: auto;
        background-color: white;
    }
    nav ul li {
        padding-bottom: 15px;
    }
    #main-doc {
        margin: 0 2%;
        padding: 0 2%;
    }
}